@import "tailwindcss";

:root {
  /* Colores base */
  --background: #101324;
  --foreground: #171717;

  /* Colores primarios */
  --primary: #4f46e5;
  /* Indigo */
  --primary-hover: #4338ca;

  /* Colores secundarios */
  --secondary: #ec4899;
  --secondary-hover: #db2777;

  /* Bordes y sombras */
  --border-color: #e5e7eb;
  --card-bg: #f9fafb;

  /* Tipografía */
  --font-sans: 'Inter', sans-serif;
  --font-size-base: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
}